/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @font-face {
    font-family: 'Exo';
    src: local('Exo'),
         url(fonts/Exo-Regular.otf) format('opentype');
  }

  @font-face {
    font-family: 'Exo-Light';
    src: url(fonts/Exo-Light.otf) format('opentype');
    font-weight: bold;
}
html{
  background-color: rgb(63, 62, 62);
}

body h1{
    font-family: Exo-Light;
    color: rgb(153, 252, 255);
    font-size: 38px;
    margin: 45px 20px 15px 30px;
    padding: inherit
}

body table{
    font-family: Exo;
    color: aliceblue;
    font-size:20px;
    margin: auto;
    text-align: left;
}

h1{
    font-family: Exo-Light;
    color: rgb(153, 252, 255);
    font-size: 88px;
    margin: 45px 20px 15px 30px;
    padding: inherit;
    background-color: rgba(255,255,255,.2);
}

body table thead th{
    font-weight: bold;
   /* font-size: 1.5em;*/
    text-align: center;
    border: 1px solid rgb(255, 241, 241);
   }

  body table tr td{
    padding: 1em;
    border: 1px solid rgb(255, 241, 241);
}

body table tr td a{
    
    text-decoration: none;
    color: rgb(118, 201, 248);
}
